# Next.js
frontend/.next
frontend/node_modules

# Python
__pycache__/
*.py[cod]
backend/.venv
backend/.pytest_cache

# Variáveis de ambiente
.env
.env.*

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code (opcional)
.vscode