# Next.js
frontend/.next
frontend/node_modules

# Python
backend/.venv
backend/__pycache__
backend/.pytest_cache

# Variáveis de ambiente
.env
.env.*

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code (opcional)
.vscode